*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: rgb(9, 9, 9);;
  font-family: "CursorGothic", "CursorGothic Fallback", system-ui, Helvetica Neue, Helvetica, Arial, sans-serif;
}

header{
  position: sticky;
  top: 0;
  z-index: 1000;
}
nav{
  background-color: rgb(9, 9, 9);;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 85%;
  margin: 20px auto;
}

#logo-text{
  height: 20px;
  width:100px;
}

#logo-text:hover{
  cursor: pointer;
}

div a {
  gap: 20px;
  color: rgb(249, 247, 247);
  text-decoration: none;
  padding: 10px;
}

div button{
  margin-left: 10px;
}
  
#sign{
  background-color: rgb(9, 9, 9);
  color: rgb(249, 247, 247);
  padding: 5px 10px;
  border: 2px solid rgb(45, 44, 44);
  border-radius: 20px;
  font-size: 14px;
}

#sign:hover{
  cursor: pointer;
}

#download{
  background-color: rgb(249, 247, 247);
  color: rgb(9, 9, 9);
  padding: 5px 10px;
  border-radius: 20px;
  font-size: 14px;
}

#download:hover{
  cursor: pointer;
}

h1{
  color: rgb(249, 247, 247);
  text-align: left;
  width: 85%;
  margin:auto;
  font-weight: 495;
  font-size: 25px;
}

.paragraph{
  margin-top: 150px;
  margin-bottom: 150px;
}

.download{
  background-color: rgb(249, 247, 247);
  color:rgb(9, 9, 9);
  border: none;
  padding: 10px 20px;
  border-radius: 30px;
  font-size: 16px;
  cursor: pointer;
  margin-left: 115px;
  margin-top: 30px;
}

.image{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 84%;
  margin-left: auto;
  margin-right: auto;
  height: 600px;
  border-radius: 30px;
  cursor: pointer;
}

.line {
  margin-top: 140px;
  margin-bottom: 100px;
  text-align: center;
  color: rgb(249, 247, 247);
}

h3{
  height: 0;
  font-weight: 490;
  font-size: 15px;
}

.cards{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 86%;
  margin-left: auto;
  margin-right: auto;
  height: 0;
}

.card{
  background-color: rgb(25, 25, 25);
  border-radius: 5px;
  height: 80px;
}

.card img{
  padding: 20px 20px;
  height: 80px;
  width: 155px;
}

.card-2{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 86%;
  margin-top: 150px;
  margin-left: auto;
  margin-right: auto;
  background-color: rgb(25, 25, 25);
  border-radius: 10px;
}

.left h1{
  margin-left: 18px;
  font-size: 23px;
  font-weight: 490;
}

.left h1:hover{
  cursor: pointer;
}

#new{
  color: rgba(192, 192, 192, 0.819);
}
.card-2 .left h3{
  margin-top: 15px;
  margin-left: 18px;
  color: rgb(249, 247, 247);
  color: rgb(255, 81, 0);
  font-size: 16px;
  font-weight: 500;
}

.left h3:hover{
  cursor: pointer;
  color: rgb(195, 62, 0);
}

.card-2 .right img{
  padding: 20px 15px 15px 10px;
  height: 700px;
  width: 870px;
}

.right img:hover{
  cursor: pointer;
}

.card-3{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 86%;
  margin-top: 100px;
  margin-left: auto;
  margin-right: auto;
  background-color: rgb(25, 25, 25);
  border-radius: 10px;
}

.right-3 h1{
  margin-left: 25px;
  font-size: 23px;
  font-weight: 490;
}

.right-3 h1:hover{
  cursor: pointer;
}

#new-3{
  color: rgba(192, 192, 192, 0.819);
}

.card-3 .right-3 h3{
  margin-top: 15px;
  margin-left: 25px;
  color: rgb(249, 247, 247);
  color: rgb(255, 81, 0);
  font-size: 16px;
  font-weight: 500;
}

.right-3 h3:hover{
  cursor: pointer;
  color: rgb(195, 62, 0);
}

.card-3 .left-3 img{
  padding: 20px 15px 15px 18px;
  height: 700px;
  width: 880px;
}

.left-3 img:hover{
  cursor: pointer;
} 

.card-4{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 86%;
  margin-top: 150px;
  margin-left: auto;
  margin-right: auto;
  background-color: rgb(25, 25, 25);
  border-radius: 10px;
}

.left-4 h1{
  margin-left: 20px;
  font-size: 21px;
  font-weight: 490;
}

.left-4 h1:hover{
  cursor: pointer;
}

#new-4{
  color: rgba(192, 192, 192, 0.819);
}
.card-4 .left-4 h3{
  margin-top: 15px;
  margin-left: 18px;
  color: rgb(249, 247, 247);
  color: rgb(255, 81, 0);
  font-size: 16px;
  font-weight: 500;
}

.left-4 h3:hover{
  cursor: pointer;
  color: rgb(195, 62, 0);
}

.card-4 .right-4 img{
  padding: 20px 15px 15px 10px;
  height: 700px;
  width: 870px;
}

.right-4 img:hover{
  cursor: pointer;
}

.line-2 > h1{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 140px;
  margin-bottom: 50px;
  color: rgb(249, 247, 247);
  font-size: 35px;
}

.testimonials {
  width: 92.5%;
  display: grid;
  margin-left: auto;
  margin-right: auto;
}

.testimonials-grid {
  width: 92.5%;
  display: grid;
  margin-left: auto;
  margin-right: auto;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}


/* CARD */
.testimonial-card {
  background-color: rgb(25, 25, 25);
  border: 1px solid rgb(25, 25, 25);
  border-radius: 10px;
  padding: 14px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 300px;
}

/* QUOTE */
.quote {
  font-size: 17px;
  line-height: 1.6;
  color: rgb(249, 247, 247);
}

.quote-1{
  line-height: 0px;
  font-size: 17px;
  color: rgb(249, 247, 247);
}

/* AUTHOR */
.author {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-top: 24px;
}

.author img {
  width: 40px;
  height: 40px;
  border-radius: 10%;
}

.author p {
  font-size: 16px;
  color: rgb(249, 247, 247);
}

.author span {
  display: block;
  font-size: 16px;
  color:rgba(192, 192, 192, 0.819);
}

.line-3 > h1{
  text-align: left;
  margin-top: 150px;
  margin-bottom: 0px;
}
/* SECTION */
.features {
  padding: 80px 60px;
}

/* GRID */
.features-grid {
  width: 93%;
  height: 500px;
  margin-left: auto;
  margin-right: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 12px;
}

/* CARD */
.feature-card {
  background: linear-gradient(
    180deg,
    rgba(255,255,255,0.04),
    rgba(255,255,255,0.02)
  );
  border: 1px solid rgba(255,255,255,0.08);
  border-radius: 5px;
  padding: 24px;
  display: flex;
  flex-direction: column;
}

/* TEXT */
.feature-card h3 {
  height: 10px;
  color: rgb(249, 247, 247);
  font-size: 18px;
  margin-bottom: 8px;
}

.feature-card p {
  margin-top: 10px;
  font-size: 18px;
  color: rgba(192, 192, 192, 0.819);
  margin-bottom: 14px;
}

.feature-card a {
  color: rgb(255, 81, 0);
  font-size: 17px;
  text-decoration: none;
  margin-bottom: 5px;
  padding-left: 0px;
}

.feature-card a:hover {
  cursor: pointer;
  color: rgb(195, 62, 0);
}
  /* IMAGE BLOCK */
  .media {
    margin-top: 5px;            
    height: 400px;                 
    background: rgba(255,255,255,0.04);
    border-radius: 5px;
    overflow: hidden;
  }

  .media img {
    width: 100%;
    height: 100%;
    object-fit: cover;             
    display: block;
  }

.line-4 {
  display: flex;
  justify-content: center;
  text-align: center;
  width: 92%;
  margin-top: 170px;
  margin-bottom: 80px;
  font-size: 30px;
}

.card-5{
  display: flex;
  color: rgb(249, 247, 247);
  justify-content: space-between;
  align-items: center;
  width: 86%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 100px;
  height: 0;
}

.card-6{
  background-color: rgb(25, 25, 25);
  border-radius: 5px;
  height: 115px;
  width: 320px;
}

.card-5>.card-6:hover{
  cursor: pointer;
  background-color: rgb(29, 29, 29);
}

.date-rating{
  display: flex;
  gap: 20px;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  margin-top: 10px;
  color: rgba(192, 192, 192, 0.819);
  font-size: 17px;
}

.rating{
  display: flex;
  border: 1px solid rgba(192, 192, 192, 0.819);
  border-radius: 15px; 
}

.rating > p{
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 2px;
}

.date{
  margin-left: 2px;
}

.para_1{
  margin-left: 10px;
}

.date-1{
  margin-left: 10px;
}

.para_2{
  margin-left: 17px;
}

.para_1 > p{
  font-size: 17px;
  margin-left: 4px;
  font-weight: 500;
}

.para_2 > p{
  font-size: 17px;
  font-weight: 500;
}

.line-5 {
  color: rgb(255, 81, 0);
  text-align: left;
  width: 86%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  margin-bottom: 80px;
  font-weight: 600;
}

.line-5:hover{
  cursor: pointer;
  color: rgb(195, 62, 0);
}

.card-7{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 86%;
  margin-top: 150px;
  margin-left: auto;
  margin-right: auto;
  background-color: rgb(25, 25, 25);
  border-radius: 10px;
}

.left-7 h1{
  margin-left: 20px;
  font-size: 22px;
  font-weight: 490;
}

.left-7 h1:hover{
  cursor: pointer;
}

.card-7 .left-7 h3{
  margin-top: 15px;
  margin-left: 18px;
  color: rgb(249, 247, 247);
  color: rgb(255, 81, 0);
  font-size: 18px;
  font-weight: 500;
}

.left-7 h3:hover{
  cursor: pointer;
  color: rgb(195, 62, 0);
}

.card-7 .right-7 img{
  padding: 20px 15px 15px 10px;
  height: 500px;
  width: 900px;
}

.right-7 img:hover{
  cursor: pointer;
}

.container{
  display: flex;
  flex-direction: column;
  background-color: rgb(25, 25, 25);
  color: rgb(249, 247, 247);
  justify-items: center;
  align-items: center;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 100px;
  margin-top: 150px;
}

.lines{
  color: rgb(249, 247, 247);
  text-align: left;
  width: 86%;
  margin-left: auto;
  margin-right: auto;
  font-weight: 600;
  position: absolute;
  margin-top: 70px;
}

.card-8{
  margin-top: 70px;
  display: flex;
  flex-direction: column;
  height: 150px;
  width: 650px;
  background-color: rgba(45, 45, 45, 0.573);  
  margin-bottom: 10px;
  padding: 20px 40px 20px 20px;
  border-radius: 5px;
}

.card-8:hover{
  cursor: pointer;
  background-color: rgb(45, 44, 44);
}

.card-8> .up{
  font-size: 17px;
  font-weight: 500;
}

.card-8> .down{
  font-size: 17px;
  color: rgba(192, 192, 192, 0.819);
}

.card-9{
  display: flex;
  flex-direction: column;
  height: 150px;
  width: 650px;
  background-color: rgba(45, 45, 45, 0.573);
  margin-bottom: 10px;
  padding: 20px 40px 20px 20px;
  border-radius: 5px;
}

.card-9:hover{
  cursor: pointer;
  background-color: rgb(45, 44, 44);
}

.card-9> .up-1{
  font-size: 17px;
  font-weight: 500;
}

.card-9> .down-1{
  font-size: 17px;
  color: rgba(192, 192, 192, 0.819);
}

.card-10{
  display: flex;
  flex-direction: column;
  height: 150px;
  width: 650px;
  background-color: rgba(45, 45, 45, 0.573);
  margin-bottom: 10px;
  padding: 20px 40px 20px 20px;
  border-radius: 5px;
}

.card-10:hover{
  cursor: pointer;
  background-color: rgb(45, 44, 44);
}

.card-10> .up-2{
  font-size: 17px;
  font-weight: 500;
}

.card-10> .down-2{
  font-size: 17px;
  color: rgba(192, 192, 192, 0.819);
}

.card-11{
  color: rgb(255, 81, 0);
  text-align: left;
  width: 43%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  margin-bottom: 80px;
  font-weight: 600;
}

.card-11:hover{
  cursor: pointer;
  color: rgb(195, 62, 0);
}

.last-line{
  color: rgb(249, 247, 247);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.last-line p{
  font-size: 70px;
}

.last-line button{
  margin-top: 15px;
  margin-right: 100px;
}



/* FOOTER */
.footer {
  margin-top: 130px;
  padding: 80px 10px 40px;
  background: radial-gradient(
    circle at top,
    rgb(25, 25, 25),
    #0b0b0b 70%
  );
}

/* TOP LINKS */
.footer-links {
  max-width: 1200px;
  margin: auto auto 60px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 60px;
}

/* COLUMN */
.footer-col h4 {
  font-size: 14px;
  font-weight: 500;
  color: rgba(192, 192, 192, 0.819);
  margin-bottom: 14px;
  margin-left: 10px;
}

.footer-col a {
  display: block;
  font-size: 14px;
  color: rgb(249, 247, 247);
  text-decoration: none;
  margin-bottom: 0px;
}

.footer-col a:hover {
  cursor: pointer;
}

/* BOTTOM BAR */
.footer-bottom {
  max-width: 1200px;
  margin: 0 auto;
  padding-top: 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* META */
.footer-meta {
  font-size: 15px;
  font-weight: 500;
  color: rgba(192, 192, 192, 0.819);
}

.footer-meta .dot {
  margin: 0 6px;
}

.footer-meta:hover{
  cursor: pointer;
  color: rgb(249, 247, 247);
}
/* CONTROLS */
.footer-controls {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* ICON BUTTONS */
.icon-btn {
  background: rgba(255,255,255,0.06);
  border: 1px solid rgba(255,255,255,0.08);
  border-radius: 8px;
  padding: 3px 12px;
  color: rgb(249, 247, 247);
  cursor: pointer;
}

.icon-btn:hover{
  cursor: pointer;
  background-color: rgba(214, 210, 210, 0.351);
}
/* LANGUAGE BUTTON */
.lang-btn {
  background: rgba(255,255,255,0.06);
  border: 1px solid rgba(255,255,255,0.08);
  border-radius: 999px;
  padding: 6px 12px;
  color: rgb(249, 247, 247);
  cursor: pointer;
}

.lang-btn:hover{
  cursor: pointer;
  background-color: rgba(214, 210, 210, 0.351);
}